
.accordion-button {
    background-color: transparent; 
    color: #555555; 
    border: none; 
    outline: none; 
    box-shadow: none; 
  }
  
 
  .accordion-button:not(.collapsed) {
    color: #3fbbc0; 
    background-color: transparent; 
    box-shadow: none; 
    border: none;
  }
  
  
  .accordion-button.collapsed {
    color: #555555;
     border: none;
  }
 
.accordion-button:focus {
    box-shadow: none; 
    border: none; 
    outline: none; 
  }