.card .aboutImg {
  border-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}
.textPcolor{
    color: #555555 !important;
  }

.font-title-type{
    font-family: var(--heading-font) !important;
}

.iconfs{
  font-size: 4rem;
}