.colortitles{
    background-color: #f5f5f5!important;
}
.butcolor{
    background-color: #3fbbc0 !important;
}
.textcolo{
    color: #444444;
}
.tc{
    color:#8f8f8f;

}
.card-body {
    padding: 0px !important;
}