.heroInfo{
    background-color: rgba(255, 255, 255, 0.904) !important; 
    border-top: 5px solid var(--main-color) !important; 
    color:var(--heading-color) !important;
    padding: 10px !important;
    height: 50vh !important;
    width: 80vw !important;
}
.carousel-indicators>button{
    border-radius: 100px;
    width: 10px;
}
.carousel-indicators [data-bs-target] {
    border-radius: 100px;
    width: 10px;
    height: 10px;
}
.carousel-indicators [data-bs-target] {
    border-top:0px ;
    border-bottom: 0px;  
}

